html {
    margin:0;
    height: 100vh;
}
body {
    margin:0;
    padding: 0;
    height: 100%;
    width:100%;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*--------------------               Política           -----------------------*/
.peesportes {
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 1.2em;
    padding: 4px;
}
.teesportes {
    font-size: 2em;
    color: goldenrod;
}
.articleeesportes {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: inherit;
    box-sizing: border-box;
    width:55%;
    height: 450px;
    padding: 20px;
    margin: 10px 16px 10px 16px;
    border: 5px rgb(0, 0, 0) groove;
}
.sectioneesportes {
    text-align: center;
    box-sizing: border-box;
    width: 35%;
    height: 450px;
    background-color: rgb(255, 255, 255);
    color: inherit;
    padding: 10px;
    margin: 10px 16px 10px 16px;
    border: 5px rgb(0, 0, 0) groove;
}
#img1 {
    width: 390px;
    height: 290px;
}
#gameplaykk {
    width: 390px;
    height: 290px;
}
