html {
    margin:0;
    height: 100vh;
}
body {
    margin:0;
    padding: 0;
    height: 100%;
}
main{
    display: flex;
    flex-direction: row;
}
/*--------------------Sobre-----------------------*/
.psobre{
    letter-spacing: 1.5px;
    text-align: justify;
    font-size: 1.2em;
    padding: 4px;
}
.tsobre{
    font-size: 2em;
    color: goldenrod;
}
.sectionsobre{
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
    box-sizing: border-box;
    width:70%;
    padding: 20px;
    margin: 10px 16px 10px 16px;
    height:890px;
    border: 5px rgb(0, 0, 0) groove;
}
.sectionlado{
    background-color: rgba(0, 0, 0, 0.164);
    color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font-size: 0.5em;
    width: 25%;
    height: 890px;
    padding: 10px;
    margin: 10px 16px 10px 16px;
    border: 5px rgb(0, 0, 0) groove;
}
#logoclandestina{
    margin: 10px;
    width:60%;
    height:60%;
    border: 5px rgb(0, 0, 0) outset;
}
