h1{
    color: rgb(255, 208, 0);
    background-color: rgb(38, 38, 39);
    font-size: 32px;
    border-bottom: 3px solid rgb(180, 143, 73);
    text-align: left;
    padding: 0px 0px 10px 10px;

}
h2{ 
    color:inherit;
    border-bottom: solid 2px white;
}
body{

    background-color: rgb(48, 48, 48);
    color: snow;
    font-size: 20px;
    font-family: 'Agency fb';
}    
section{
    background: rgb(37, 37, 37);
    border: solid 2px white;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}
a{ 
    float:left;
    padding: 10px 20px 20px 10px;
}
